@media only screen and (max-width: 1440px) {
  html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    --header1: calc(1.5rem + 1vw);
    --header2: calc(1.4rem + 1vw);
    --header3: calc(1.3rem + 1vw);
    --header4: calc(5rem + 1vw);
    --button: calc(0.7rem + 1vw);
    --contents: calc(0.6rem + 1vw);
    --mediumleveltext: calc(1.7rem + 1vw);
    --black-text: #000000;
    --green-text: #018b1f;
    --crimson-text: #dc143c;
    --orange-text: #f65b04;
    --grey-text: #575757;
    --white-text: #ffffff;
    --orangeBG: #f65b04;
    --orangelightBG: #f59761;
    --greenBG: #00c12b;
    --greenlightBG: #80f199;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }

  nav {
    width: 100vw;
    height: 10vh;
    position: fixed;
    justify-content: center;
    text-align: center;
  }

  nav .container ul li a {
    display: inline-block;
    padding: 1vh 3vw;
    color: var(--black-text);
    text-decoration: none;
  }

  .Homepage a {
    font-weight: 500;
    font-size: calc(1.5rem + 1vw);
  }

  .hero {
    width: 100%;
    height: 100%;
    top: unset;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    z-index: -5;
  }

  .hero-container {
    width: 100%;
    height: 92%;
    top: 5%;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
  }

  .introcontent {
    display: flex;
    width: 50%;
    height: 100%;
    bottom: unset;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: unset;
    position: relative;
    letter-spacing: 0.2rem;
  }

  .introcontent::after {
    margin: unset;
    height: 400px;
    width: 600px;
  }

  .animation {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    left: unset;
  }

  .man {
    display: flex;
    width: 100%;
    height: auto;
    left: 2vh;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: relative;
  }

  .introcontent h2 {
    font-weight: 400;
    font-size: var(--header2);
  }
  .portfolio {
    font-weight: 500;
    font-size: 3.5rem;
    color: var(--green-text);
    text-decoration: underline;
  }

  .introcontent h3 {
    margin: 1.5vh 3vw;
    font-weight: 400;
    font-size: var(--header3);
  }

  .introcontent h4 {
    margin: 1vh 8vw;
    font-weight: 550;
    font-size: var(--header4);
  }

  .introcontent h5 {
    font-weight: 550;
    font-size: var(--header4);
    margin: 0 16vw;
  }

  h5 span {
    color: var(--crimson-text);
  }

  .mastercontainer {
    position: relative;
    top: 10%;
    height: 90vh;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 0;
  }

  .leftsection {
    margin: auto;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relatiave;
    z-index: -2;
    overflow: hidden;
  }

  .profilepic {
    background-image: url(/pics/Profile\ photo.svg);
    background-size: cover;
    background-position: center;
    background-color: white;
    border-radius: 200rem;
    border: 0.3rem solid #000000;
    background-repeat: no-repeat;
    width: 40rem;
    height: 40rem;
    transform: scale(0.8, 0.8);
    justify-content: center;
    align-items: center;
  }

  .Profilename h1 {
    color: var(--crimson-text);
    margin: auto;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: calc(2rem + 1vw);
    justify-content: unset;
    align-items: unset;
    text-align: unset;
  }

  .Profilename h2 {
    font-size: calc(1.5rem + 1vw);
    margin: auto;
    font-weight: 400;
    text-align: center;
  }

  .rightsection {
    top: unset;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
  }

  .paracontainer {
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .paracontainer::before {
    content: "";
    top: 5%;
    margin: auto 3%;
    bottom: 0;
    right: 0;
    left: 0;
    background: #09203f;
    position: absolute;
    width: 3px;
    height: 60vh;
    border-radius: 50px;
    z-index: 3;
  }

  .paracontainer h6 {
    font-size: calc(2rem + 1vw);
    font-weight: 400;
    padding-bottom: 2rem;
    justify-content: flex-end;
    text-align: right;
  }

  .paracontainer p {
    color: #046e00;
    letter-spacing: 0.1rem;
    text-align: justify;
    padding-top: 2rem;
    line-height: 5rem;
    font-size: calc(0.9rem + 1vw);
  }

  .paracontainer span {
    color: var(--crimson-text);
  }

  .Allcontainer {
    width: 100vw;
    height: 100vh;
    background-image: url(/pics/pexels-david-bartus-963278.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
  }

  .imgcontain {
    display: flex;
    top: 10%;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .boxflex {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 0fr);
    width: 81vw;
    height: 80%;
    margin: auto;
  }

  .boxflex::-webkit-scrollbar {
    display: none;
  }

  .boxflex {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .boxflex img {
    position: relative;
    background: linear-gradient(
      143.29deg,
      rgba(30, 0, 94, 0.7) 1.29%,
      rgba(255, 0, 0, 0.7) 97.35%
    );
    border-radius: 25px;
    backdrop-filter: blur(103px);
    -webkit-box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
    height: 70%;
    margin: auto;
    width: auto;
  }

  .skill2 {
    left: 92.5vw;
  }

  #Experience {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    display: flex;
    position: relative;
    z-index: -6;
  }

  .imgcontainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/pics/pexels-s-migaj-747964.jpg);
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    z-index: -2;
    overflow: hidden;
  }

  .expcon {
    width: 90vw;
    height: 90vh;
    margin: 10vh auto;
    font-weight: 500;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    flex-direction: column;
  }

  .expcon span {
    color: #fae37b;
    font-weight: 500;
  }

  .expcontent {
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .expcontent h1 {
    font-weight: 400;
    font-size: calc(2.5rem + 1vw);
    padding-bottom: 2rem;
    text-decoration: underline;
    color: rgb(214, 218, 3);
    letter-spacing: 0.1rem;
  }

  .expcontent h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-weight: 400;
    padding-left: 2rem;
  }

  .expcontent2 {
    padding-top: 5vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .expcontent2 h1 {
    font-family: 400;
    font-size: calc(2.5rem + 1vw);
    padding-bottom: 2rem;
    text-decoration: underline;
    color: rgb(214, 218, 3);
    letter-spacing: 0.1rem;
  }

  .expcontent2 h2 {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }

  .container2 {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    width: 90%;
    margin: auto;
    height: 84vh;
    top: 5vh;
    text-align: center;
    position: relative;
  }

  .container2 h1 {
    top: 2.5vh;
    font-size: var(--header1);
    font-weight: 500;
    position: relative;
    margin: 40px 0;
  }

  .container2 h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--orangeBG);
    bottom: -10px;
    left: 50%;
  }

  .top-content {
    background-color: rgb(243, 243, 243);
    width: 100%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgb(153, 152, 152);
  }

  .top-content h2 {
    height: 100%;
    background-color: rgb(221, 221, 221);
    padding: 0 5rem;
    color: var(--grey-text);
    line-height: 60px;
    font-size: calc(1rem + 1vw);
    white-space: nowrap;
  }

  label {
    display: flex;
    height: 100%;
    margin: 0 11px;
    line-height: 60px;
    white-space: nowrap;
    font-size: calc(0.4rem + 1vw);
    color: gray;
    cursor: pointer;
    transition: color 0.5s;
  }

  label:hover {
    color: black;
  }

  .SamPro {
    width: 90%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    overflow: auto;
    scrollbar-color: #dc5d14 #9e9e9e;
    scrollbar-width: thin;
  }

  .pic {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .pic img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
  }

  .contactmecontent {
    top: 17vh;
  }

  .contactmecontent {
    width: 95vw;
    margin: auto;
    top: 15vh;
    height: 50vh;
    color: var(--white-text);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contactmecontent h1 {
    font-size: calc(4rem + 1vw);
    color: #ffc700;
    text-decoration: underline;
    white-space: nowrap;
  }
  .contactmecontent span {
    margin-left: 2vw;
  }

  .email {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: calc(1.5rem + 1vw);
  }

  .phone {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: calc(1.5rem + 1vw);
  }

  .website {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: calc(1.5rem + 1vw);
  }

  .social-links {
    position: relative;
    align-items: center;
    margin: 0 auto;
    width: 85vw;
    height: 20vh;
    display: flex;
    grid-gap: 1.5rem;
  }

  .social-links::after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    width: 20vw;
    height: 2px;
    bottom: 15vh;
  }
}
