@media only screen and (min-width: 1280px) {
  html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    --header1: calc(1.5rem + 1vw);
    --header2: calc(1.4rem + 1vw);
    --header3: calc(1.3rem + 1vw);
    --header4: calc(5rem + 1vw);
    --button: calc(0.7rem + 1vw);
    --contents: calc(0.6rem + 1vw);
    --mediumleveltext: calc(1.7rem + 1vw);
    --black-text: #000000;
    --green-text: #018b1f;
    --crimson-text: #dc143c;
    --orange-text: #f65b04;
    --grey-text: #575757;
    --white-text: #ffffff;
    --orangeBG: #f65b04;
    --orangelightBG: #f59761;
    --greenBG: #00c12b;
    --greenlightBG: #80f199;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }

  .hero {
    width: 90vw;
    height: 90vh;
    top: 10vh;
    margin: auto;
    display: flex;
    position: relative;
    z-index: -5;
  }

  .hero-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
  }

  .introcontent {
    display: flex;
    width: 55%;
    bottom: 4rem;
    flex-direction: column;
    justify-content: center;
    padding-left: unset;
    position: relative;
    letter-spacing: 0.2rem;
  }

  .introcontent::after {
    height: 50vh;
    width: 48vw;
  }

  .animation {
    left: unset;
  }

  .skill2 {
    left: 92.5vw;
  }

  .SamPro {
    grid-template-columns: repeat(4, 1fr);
  }

  .contactmecontent {
    top: 17vh;
  }

  label {
    margin: 0 11px;
  }
}
