@media only screen and (min-width: 1280px) {
  .hero {
    width: 90vw;
    height: 90vh;
    top: 10vh;
    margin: auto;
    display: flex;
    position: relative;
    z-index: -5;
  }

  .hero-container {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
  }

  .introcontent {
    display: flex;
    width: 55%;
    bottom: 4rem;
    flex-direction: column;
    justify-content: center;
    padding-left: unset;
    position: relative;
    letter-spacing: 0.2rem;
  }

  .introcontent::after {
    height: 53vh;
    width: 48vw;
  }

  .animation {
    left: unset;
  }

  .skill2 {
    left: 92.5vw;
  }

  .SamPro {
    grid-template-columns: repeat(4, 1fr);
  }

  .contactmecontent {
    top: 17vh;
  }

  label {
    margin: 0 11px;
  }
}
