nav {
  width: 100vw;
  height: 8vh;
  display: flex;
}

nav .container {
  top: -100vh;
  right: unset;
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-size: 5vw;
  line-height: 12vw;
  overflow: hidden;
  touch-action: none;
}

nav .container.active {
  right: unset;
  top: 0;
  opacity: 1;
}

.Homepage a {
  font-size: 7vw;
}

.hamburger::before {
  height: 35px;
  width: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hero {
  width: 100vw;
  height: 92vh;
  top: 0;
  margin: 8vh auto;
  display: flex;
  position: relative;
  z-index: -5;
}

.hero-container {
  width: 100%;
  height: 100%;
  margin: 0vh auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.introcontent {
  display: flex;
  bottom: unset;
  height: 40%;
  width: 100%;
  top: unset;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: unset;
  position: relative;
  letter-spacing: 0.2rem;
}

.introcontent::after {
  content: "";
  right: unset;
  border-radius: 3rem;
  display: inline-block;
  height: 55vw;
  width: 85vw;
  object-fit: contain;
  position: absolute;
  opacity: 0.7;
}

.introcontent h2 {
  align-items: center;
  font-weight: 400;
  font-size: 4.5vw;
}

.portfolio {
  font-weight: 500;
  align-items: center;
  font-size: 6.5vw;
}

.portfolio::after {
  content: "\a";
  white-space: pre;
}

.introcontent h3 {
  margin: unset;
  font-weight: 400;
  font-size: 4.5vw;
}

.introcontent h4 {
  margin: unset;
  font-weight: 550;
  font-size: 10vw;
}

.animation {
  height: 50vh;
  width: 90vw;
  display: flex;
  margin: auto;
  object-fit: unset;
  position: relative;
}

.man {
  display: flex;
  margin: auto;
  left: 3.5vw;
  width: auto;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.mastercontainer {
  position: relative;
  height: 95vh;
  width: 100vw;
  margin: auto;
  display: flex;
  z-index: 0;
  flex-direction: column;
}

.leftsection {
  margin: auto;
  height: 35%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-wrap: unset;
  position: relative;
  flex-direction: column;
  z-index: -2;
  overflow: hidden;
  line-height: 8vw;
}

.profilepic {
  border-radius: 200px;
  border: 0.2rem solid #000000;
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  transform: scale(1, 1);
  justify-content: center;
  align-items: center;
}

.Profilename h1 {
  padding-top: 5vw;
  margin: 0 auto;
  color: var(--crimson-text);
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 6.5vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Profilename h2 {
  padding-top: unset;
  font-size: 5vw;
  font-weight: 400;
  padding: 1vw;
  align-items: center;
  text-align: center;
}

.rightsection {
  top: unset;
  margin: auto;
  height: 60%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.paracontainer {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 2.2rem;
}

.paracontainer::before {
  display: none;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: #09203f;
  position: absolute;
  width: 50vw;
  height: 2px;
  border-radius: 50px;
  z-index: 3;
}

.paracontainer h6 {
  font-size: 5.5vw;
  font-weight: 400;
  padding: 4vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 10%;
  width: 100%;
}

.paracontainer p {
  height: 90%;
  width: 100%;
  color: #046e00;
  letter-spacing: 0.1rem;
  text-align: justify;
  padding-top: unset;
  line-height: 5.5vw;
  font-size: 3.8vw;
}

.paracontainer span {
  color: var(--crimson-text);
}

/* Skill section */

.Allcontainer {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image: url(/pics/pexels-david-bartus-963278.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
}

.imgcontain {
  display: flex;
  top: 0vh;
  height: 90%;
  width: 100%;
  margin: 8.5vh auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.boxflex {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  grid-gap: 1vw 1vw;
  backdrop-filter: blur(25px);
  --webkit-backdrop-filter: blur(25px);
}

.boxflex::-webkit-scrollbar {
  display: none;
}

.boxflex {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.boxflex img {
  position: relative;
  background: linear-gradient(
    143.29deg,
    rgba(30, 0, 94, 0.7) 1.29%,
    rgba(255, 0, 0, 0.7) 97.35%
  );
  border-radius: 25px;
  backdrop-filter: blur(103px);
  -webkit-box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
  height: 35vw;
  margin: auto;
  width: auto;
}

.skill1 {
  display: none;
}

.skill1 img {
  display: none;
}

.skill2 {
  display: none;
}

.skill2 img {
  display: none;
}

/* experience section starts here */

.expcon {
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  flex-direction: column;
}

.expcontent {
  height: 50%;
  width: 90%;
  margin: auto;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.expcontent h1 {
  font-family: 400;
  font-size: 7vw;
  padding-bottom: 5vw;
  text-decoration: underline;
  color: rgb(214, 218, 3);
  letter-spacing: 0.2vw;
}

.expcontent h2 {
  font-size: 5vw;
  padding-bottom: 3vw;
  font-weight: 400;
  padding-left: unset;
}

.expcontent2 {
  height: 50%;
  width: 90%;
  margin: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.expcontent2 h1 {
  font-family: 400;
  font-size: 7vw;
  padding-bottom: 5vw;
  text-decoration: underline;
  color: rgb(214, 218, 3);
  letter-spacing: 0.1rem;
}

.expcontent2 h2 {
  font-size: 5vw;
  padding-bottom: 3vw;
  font-weight: 400;
  padding-right: unset;
}

/*Project section starts here*/

.container2 {
  width: 90%;
  margin: 0 auto;
  height: 88vh;
  top: 10vh;
  text-align: center;
}

.container2 h1 {
  display: none;
}

.container2 h1::before {
  display: none;
}

.top-content {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 12vw;
  display: flex;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(153, 152, 152);
  z-index: 1;
}

.top-content h2 {
  height: 100%;
  display: flex;
  background-color: rgb(221, 221, 221);
  padding: 0 1vw;
  color: var(--grey-text);
  line-height: unset;
  font-size: 2vw;
  white-space: unset;
  justify-content: center;
  align-items: center;
}

label {
  margin: 0 2vw;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  transition: color 0.5s;
  line-height: unset;
}

label:active {
  color: black;
}

.SamPro {
  width: 90%;
  height: 87%;
  margin: -2vh auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.pic {
  width: 38vw;
  height: 38vw;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.pic video {
  width: 38vw;
  height: 38vw;
}

/* Full screen Image viewer starts here */

#image-viewer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(94, 94, 94, 0.9);
  z-index: 10;
}
.modal-content {
  margin: 15vh auto;
  display: flex;
  height: auto;
  width: 95vw;
  align-items: center;
  justify-content: center;
  touch-action: auto;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#image-viewer .close {
  position: absolute;
  top: 1vh;
  right: 15px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

#Contactme {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/pics/pexels-alex-andrews-3045245.jpg);
  background-size: cover;
  background-position: left;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: unset;
  flex-direction: unset;
  align-items: unset;
}

.contactmecontent {
  width: 95vw;
  margin: auto;
  height: 50%;
  color: var(--white-text);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}

.contactmecontent img {
  transform: scale(0.8);
}

.contactmecontent h1 {
  font-size: 7vw;
  color: #ffc700;
  text-decoration: none;
  padding-bottom: 0.5rem;
  white-space: wrap;
  -webkit-text-stroke-width: unset;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.contactmecontent span {
  margin-left: 2vw;
}

.email {
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: 4.5vw;
}

.phone {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: unset;
  font-size: 4.5vw;
}

.website {
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: 4.5vw;
}

.contactmecontent {
  padding-left: unset;
  grid-gap: 1rem;
}

.social-links {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  width: 80vw;
  height: 15vh;
  display: flex;
  grid-gap: 3rem;
}

.social-links::after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  width: 50vw;
  height: 2px;
  bottom: 15vh;
}

.social-links img {
  transform: scale(0.8);
}
