/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* For scrollbar customization */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*::before,
*::after {
  box-sizing: border-box;
}
*/

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  --header1: calc(1.5rem + 1vw);
  --header2: calc(1.4rem + 1vw);
  --header3: calc(1.3rem + 1vw);
  --header4: calc(5rem + 1vw);
  --button: calc(0.7rem + 1vw);
  --contents: calc(0.4rem + 1vw);
  --mediumleveltext: calc(1.7rem + 1vw);
  --black-text: #000000;
  --green-text: #00c12b;
  --crimson-text: #dc143c;
  --orange-text: #f65b04;
  --grey-text: #575757;
  --white-text: #ffffff;
  --orangeBG: #f65b04;
  --orangelightBG: #f59761;
  --greenBG: #00c12b;
  --greenlightBG: #80f199;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

/*Nav Bar starts here*/

nav {
  top: 0;
  left: 0;
  width: 100vw;
  height: 9.8vh;
  position: fixed;
  text-align: center;
  z-index: 10;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
}

nav .container {
  width: 95vh;
  margin: auto;
  height: 10vh;
  font-weight: 400;
  color: var(--grey-text);
  font-size: var(--contents);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 5rem;
  white-space: nowrap;
}

nav .container ul {
  list-style: none;
}

.Homepage a {
  font-weight: 500;
  font-size: calc(1rem + 1vw);
}

nav .container ul li {
  display: inline-block;
}

nav .container ul li a {
  display: inline-block;
  padding: 1vh 4vw;
  color: var(--black-text);
  text-decoration: none;
}

nav .container ul li.active {
  font-weight: 500;
  border-radius: 5rem;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(253, 253, 253, 0.1);
  transition: 0.3s ease-in background-color;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 16px 0px #969ca3;
}

nav .container ul li.active a {
  color: #dc143c;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: 0.1s ease-in;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: auto;
  position: relative;
  scroll-snap-align: start;
  /*overflow: hidden;*/
}

.frostBGintro {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(https://www.dropbox.com/s/ne6pdsdhljp5tgu/pexels-toa-heftiba-%C5%9Finca-1194420.jpg?dl=0);
  opacity: 0.5;
  background-position: center;
  background-size: cover;
  z-index: -5;
  overflow: hidden;
}

.hero {
  width: 100vw;
  height: 90vh;
  top: 10vh;
  margin: auto;
  display: flex;
  position: relative;
  z-index: -5;
}

.hero-container {
  min-width: 95vw;
  margin: auto;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
}

.introcontent {
  display: flex;
  width: 55%;
  bottom: 4rem;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vh;
  position: relative;
  letter-spacing: 0.2rem;
}

.introcontent::after {
  content: "";
  right: 7vw;
  border-radius: 3rem;
  display: block;
  height: 400px;
  width: 700px;
  position: absolute;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
  z-index: -2;
  overflow: hidden;
}

.introcontent h2 {
  font-weight: 400;
  font-size: var(--header2);
}
.portfolio {
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--green-text);
  text-decoration: underline;
}

.introcontent h3 {
  padding-top: 1.5rem;
  padding-left: 7vh;
  font-weight: 400;
  font-size: var(--header3);
}

.introcontent h4 {
  padding-left: 17vh;
  font-weight: 550;
  font-size: var(--header4);
}

.introcontent h5 {
  font-weight: 550;
  font-size: var(--header4);
  padding-left: 35vh;
}

h5 span {
  color: var(--crimson-text);
}

.animation {
  height: 90vh;
  width: 20vw;
  position: relative;
  display: flex;
  flex: auto;
  z-index: 5;
}

.man {
  display: flex;
  width: 50vw;
  height: 80vh;
  object-fit: contain;
  position: relative;
}

.S2BGcolor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url(/pics/pexels-lukas-669615.jpg);
  background-blend-mode: soft-light, screen;
  background-size: cover;
  opacity: 0.2;
  z-index: -10;
}

.mastercontainer {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  z-index: 0;
}

.leftsection {
  margin: auto;
  height: 100vh;
  width: 40vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relatiave;
  z-index: -2;
  overflow: hidden;
}

.profilepic {
  background-image: url(/pics/Profile\ photo.svg);
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 200rem;
  border: 0.3rem solid #000000;
  background-repeat: no-repeat;
  width: 40rem;
  height: 40rem;
  transform: scale(0.8, 0.8);
  justify-content: space-around;
  align-items: center;
}

section .aboutme .Profilename {
  justify-content: space-around;
}

.Profilename h1 {
  color: var(--crimson-text);
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: var(--header1);
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Profilename h2 {
  font-size: var(--header3);
  font-weight: 400;
  align-items: center;
  text-align: center;
}

.rightsection {
  top: 10vh;
  height: 90vh;
  width: 80vw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.paracontainer {
  display: flex;
  width: 50vw;
  min-height: 85vh;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.paracontainer::before {
  content: "";
  top: 20vh;
  bottom: 0;
  right: 0;
  left: 0;
  background: #09203f;
  position: absolute;
  width: 4px;
  height: 60vh;
  border-radius: 50px;
  z-index: 3;
}

.paracontainer h6 {
  font-size: var(--mediumleveltext);
  font-weight: 400;
  padding-bottom: 2rem;
  justify-content: flex-end;
  text-align: right;
}

.paracontainer p {
  color: #046e00;
  letter-spacing: 0.1rem;
  text-align: justify;
  padding-top: 2rem;
  line-height: 4rem;
  font-size: var(--contents);
}

.paracontainer span {
  color: var(--crimson-text);
}

.Allcontainer {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image: url(/pics/pexels-david-bartus-963278.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
}

.imgcontain {
  display: flex;
  top: 5vh;
  height: 80vh;
  width: 100vw;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.boxflex {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 81vw;
  height: 80vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  backdrop-filter: blur(25px);
  --webkit-backdrop-filter: blur(25px);
}

.boxflex::-webkit-scrollbar {
  display: none;
}

.boxflex {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.boxflex img {
  position: relative;
  background: linear-gradient(
    143.29deg,
    rgba(30, 0, 94, 0.7) 1.29%,
    rgba(255, 0, 0, 0.7) 97.35%
  );
  border-radius: 25px;
  backdrop-filter: blur(103px);
  -webkit-box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
  height: 30vh;
  margin: auto;
  width: auto;
}

.skill1 {
  height: 80vh;
  width: 5vw;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(180deg);
  position: absolute;
  right: 92vw;
  z-index: 5;
}

.skill1 img {
  position: absolute;
  height: 55vh;
  width: auto;
  bottom: 10vh;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  backdrop-filter: none;
}

.skill2 {
  height: 80vh;
  width: 5vw;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(0deg);
  position: absolute;
  left: 92vw;
  z-index: 5;
}

.skill2 img {
  position: absolute;
  height: 55vh;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  backdrop-filter: none;
}

#Experience {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: flex;
  position: relative;
  z-index: -6;
}

.imgcontainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/pics/pexels-s-migaj-747964.jpg);
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  z-index: -2;
  overflow: hidden;
}

.expcon {
  width: 90vw;
  height: 90vh;
  margin: 10vh auto;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  flex-direction: column;
}

.expcon span {
  color: #fae37b;
  font-weight: 500;
}

.expcontent {
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.expcontent h1 {
  font-family: 400;
  font-size: calc(2.5rem + 1vw);
  padding-bottom: 2rem;
  text-decoration: underline;
  color: rgb(214, 218, 3);
  letter-spacing: 0.1rem;
}

.expcontent h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
  padding-left: 2rem;
}

.expcontent2 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.expcontent2 h1 {
  font-family: 400;
  font-size: calc(2.5rem + 1vw);
  padding-bottom: 2rem;
  text-decoration: underline;
  color: rgb(214, 218, 3);
  letter-spacing: 0.1rem;
}

.expcontent2 h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-right: 2rem;
}

input {
  display: none;
}

.BGimage {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 1)),
    url(/pics/pexels-james-wheeler-417074.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-position: center;
  background-size: cover;
  z-index: -25;
}

.container2 {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 2rem;
  width: 90%;
  margin: auto;
  height: 84vh;
  top: 3vh;
  text-align: center;
  position: relative;
}

.container2 h1 {
  top: 2.5vh;
  font-size: var(--header1);
  font-weight: 500;
  position: relative;
  margin: 40px 0;
}

.container2 h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: var(--orangeBG);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animatea 3s linear infinite;
}

@keyframes animatea {
  0% {
    width: 75px;
  }
  50% {
    width: 140px;
  }
  100% {
    width: 75px;
  }
}

.top-content {
  background-color: rgb(243, 243, 243);
  width: 95%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(153, 152, 152);
}

.top-content h2 {
  height: 100%;
  background-color: rgb(221, 221, 221);
  padding: 0 5rem;
  color: var(--grey-text);
  line-height: 60px;
  font-size: calc(1rem + 1vw);
  white-space: nowrap;
}

label {
  display: flex;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  white-space: nowrap;
  font-size: calc(0.1rem + 1vw);
  color: gray;
  cursor: pointer;
  transition: color 0.5s;
}

label:hover {
  color: black;
}

.SamPro {
  width: 90%;
  height: 70vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  overflow: auto;
  scrollbar-color: #dc5d14 #9e9e9e;
  scrollbar-width: thin;
}

.pic {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 10px;
  transition: 0.5s;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.pic img:hover {
  background: #000000;
  opacity: 0.7;
}

#check1:checked ~ .container2 .SamPro .pic {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check2:checked ~ .container2 .SamPro .logo {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check2:checked ~ .container2 .SamPro .twoDAnim,
#check2:checked ~ .container2 .SamPro .Intro,
#check2:checked ~ .container2 .SamPro .laser,
#check2:checked ~ .container2 .SamPro .UI {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  transition: 0s;
}

#check3:checked ~ .container2 .SamPro .UI {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check3:checked ~ .container2 .SamPro .twoDAnim,
#check3:checked ~ .container2 .SamPro .Intro,
#check3:checked ~ .container2 .SamPro .laser,
#check3:checked ~ .container2 .SamPro .logo {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  transition: 0s;
}

#check4:checked ~ .container2 .SamPro .laser {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check4:checked ~ .container2 .SamPro .twoDAnim,
#check4:checked ~ .container2 .SamPro .Intro,
#check4:checked ~ .container2 .SamPro .UI,
#check4:checked ~ .container2 .SamPro .logo {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  transition: 0s;
}

#check5:checked ~ .container2 .SamPro .Intro {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check5:checked ~ .container2 .SamPro .twoDAnim,
#check5:checked ~ .container2 .SamPro .laser,
#check5:checked ~ .container2 .SamPro .UI,
#check5:checked ~ .container2 .SamPro .logo {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  transition: 0s;
}

#check6:checked ~ .container2 .SamPro .twoDAnim {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check6:checked ~ .container2 .SamPro .Intro,
#check6:checked ~ .container2 .SamPro .laser,
#check6:checked ~ .container2 .SamPro .UI,
#check6:checked ~ .container2 .SamPro .logo {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  transition: 0s;
}

/* Full screen Image viewer starts here */

#image-viewer {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(94, 94, 94, 0.9);
}
.modal-content {
  margin: 4vh auto;
  display: block;
  height: 90vh;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#image-viewer .close {
  position: absolute;
  top: 0;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#Contactme {
  background-image: url(/pics/pexels-alex-andrews-3045245.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  justify-content: flex-start;
  flex-direction: column;
}

.contactmecontent {
  width: 95vw;
  margin: auto;
  top: 15vh;
  height: 50vh;
  color: var(--white-text);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactmecontent h1 {
  font-size: calc(3.5rem + 1vw);
  color: #ffc700;
  text-decoration: underline;
  white-space: nowrap;
}
.contactmecontent span {
  margin-left: 2vw;
}

.email {
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: calc(1.5rem + 1vw);
}

.phone {
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: calc(1.5rem + 1vw);
}

.website {
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: calc(1.5rem + 1vw);
}

.contactmecontent {
  padding-left: 2rem;
  grid-gap: 2rem;
}

.social-links {
  position: relative;
  align-items: flex-end;
  margin: auto;
  width: 85vw;
  height: 20vh;
  display: flex;
  grid-gap: 3rem;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
